<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/samalyod.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-12 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">@Localizer["travel"]</h1>
                @* <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p> *@
            </div>
        </div>
    </div>
</section>
    
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/1.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 160px;">
                            <div class="one">
                                <span class="day">@Localizer["everyDay"]</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент- Истанбул-Ташкент </a></h3>
                        <p>@Localizer["Istanbul"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/image_2.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 160px;">
                            <div class="one">
                                <span class="day">@Localizer["Tuesday"]</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент-Анталья-Ташкент</a></h3>
                        <p>@Localizer["mom"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/incho.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 160px;">
                            <div class="one">
                                <span class="day">@Localizer["everyDay1"]</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент-Инчо-Ташкент</a></h3>
                        <p> @Localizer["Incho"] </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/ancara.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 160px;">
                            <div class="one">
                                <span class="day"> @Localizer["Tuesday1"]</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент-Анкара-Ташкент</a></h3>
                        <p>@Localizer["Ankara"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/dubay.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 160px;">
                            <div class="one">
                                <span class="day">@Localizer["everyDay2"]</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент- Дубай-Ташкент</a></h3>
                        <p>@Localizer["Dubay"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/parij.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 160px;">
                            <div class="one">
                                <span class="day">@Localizer["Tuesday2"]</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент-Франция-Ташкент</a></h3>
                        <p>@Localizer["france"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/NY.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 160px;">
                            <div class="one">
                                <span class="day">@Localizer["Tuesday3"]</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент- Нью-Йорк-Ташкент</a></h3>
                        <p>@Localizer["NewYork"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/tbilisi.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 160px;">
                            <div class="one">
                                <span class="day">@Localizer["day"]</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент- Тблиси-Ташкент</a></h3>
                        <p>@Localizer["Georgia"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/kuala-lumpur.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block" >
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 160px;">
                            <div class="one">
                                <span class="day">@Localizer["day1"]</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент- Куала-Лумпур</a></h3>
                        <p>@Localizer["KualaLumpur"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/kuala-lumpur.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 160px;">
                            <div class="one">
                                <span class="day">@Localizer["day2"]</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Куала-Лумпур( Малайзия)-Ташкент</a></h3>
                        <p>@Localizer["KualaLumpur"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/narita.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 160px;">
                            <div class="one">
                                <span class="day">@Localizer["day3"]</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент-Нарита-Ташкент</a></h3>
                        <p>
                            @Localizer["Narita"]
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/egypt.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 160px;">
                            <div class="one">
                                <span class="day">@Localizer["day4"]</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент- Шарм Эль Шейх (Египт)-Ташкент</a></h3>
                        <p>@Localizer["Egypt"]</p>
                    </div>
                </div>
            </div>
        </div>
       @*  <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div> *@
    </div>
</section>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery-migrate-3.0.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.easing.1.3.js"></script>
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.stellar.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/aos.js"></script>
<script src="~/js/jquery.animateNumber.min.js"></script>
<script src="~/js/bootstrap-datepicker.js"></script>
<script src="~/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="~/js/google-map.js"></script>
<script src="~/js/main.js"></script>