<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=5b3ce3597851110001cf624815ca6986a381449d815dda9c066a9090&callback=initMap" async defer></script>
    <style>
        .telegram-link:hover {
            color: red;
            text-decoration: underline;
        }

        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <section class="ftco-section ftco-no-pb contact-section">
        <div class="container">
            <div class="row d-flex contact-info">
                <div class="col-md-3 d-flex">
                    <div class="align-self-stretch box p-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="icon-map-signs"></span>
                        </div>
                        <h3 class="mb-2">@Localizer["Adress"]</h3>
                        <p>@Localizer["city"]</p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="align-self-stretch box p-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="icon-phone2"></span>
                        </div>
                        <h3 class="mb-2"> @Localizer["set"]</h3>
                        <p><a href="tel://1234567920">+998 77 318 95 91</a></p>
                    </div>
                </div>
                <div class="col-md-3 d-flex">
                    <div class="align-self-stretch box p-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="icon-paper-plane"></span>
                        </div>
                        <h3 class="mb-2">@Localizer["telegramm"]</h3>
                        <p><a href="https://t.me/x_kavsartour" target="_blank" class="telegram-link">KavsarAviaTour</a></p>
                    </div>
                </div>

                <div class="col-md-3 d-flex">
                    <div class="align-self-stretch box p-4 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fas fa-envelope"></span>
                        </div>
                        <h3 class="mb-2">@Localizer["emil"]</h3>
                        <p><a href="mailto:x_kavsartour@bk.ru" class="telegram-link">x_kavsartour@bk.ru</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
<section class="ftco-section contact-section">
    <div class="container">
        <div class="row block-9">
            <div class="col-md-6 order-md-last d-flex">
                <form action="#" class="bg-light p-5 contact-form">
                    <div class="form-group">
                            <input id="name" type="text" class="form-control" placeholder="@Localizer["phone"]">
                    </div>
                    <div class="form-group">
                            <input id="email" type="text" class="form-control" placeholder=" Telegram @@Адрес">
                    </div>

                    <div class="form-group">
                            <textarea id="message" cols="30" rows="7" class="form-control" placeholder="@Localizer["question"]"></textarea>
                    </div>
                    <div class="form-group">
                        <input id="send" type="submit" value="@Localizer["sent"]" class="btn btn-primary py-3 px-5 SendTax">
                    </div>
                </form>

            </div>

               @*  <div class="col-md-6 d-flex">
                    <div id="map" class="bg-white"></div>
                </div> *@
            </div>
        </div>
    </section>
</body>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery-migrate-3.0.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.easing.1.3.js"></script>
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.stellar.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/aos.js"></script>
<script src="~/js/jquery.animateNumber.min.js"></script>
<script src="~/js/bootstrap-datepicker.js"></script>
<script src="~/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="~/js/google-map.js"></script>
<script src="~/js/main.js"></script>
<script>
    // $.ajax({
    //     url: '/Telegram/SendMessages',
    //     type: 'POST',
    //     contentType: 'application/json',
    //     data: JSON.stringify({
    //         number: '1234567890',
    //         username: 'https:example.com',
    //         message: 'Привет, это тестовое сообщение!'
    //     }),
    //     success: function (response) {
    //         console.log('Сообщение отправлено успешно:', response);
    //     },
    //     error: function (error) {
    //         console.error('Ошибка при отправке сообщения:', error);
    //     }
    // });
    // $.post("/Telegram/SendMessages", { number: "123456", username: 'https:example.com', message: 'Привет, это тестовое сообщение!' })
    //     .done(function (dataDis) {

    //     debugger;
    //     var dataDisReason = JSON.parse(dataDis.reason);

    // $.post("/Telegram/SendMessages", {
    //     number: "123456",
    //     username: 'https://example.com',
    //     message: 'Привет, это тестовое сообщение!'
    // })
    //     .done(function (data) {
    //         // data - сервердан келган жавоб
    //         console.log("Маълумот юборилди ва сервердан жавоб олинди:", data);
    //     })
    //     .fail(function (jqXHR, textStatus, errorThrown) {
    //         console.error("Хатолик юз берди:", textStatus, errorThrown);
    //     });


    document.getElementById('send').addEventListener('click', function () {
        var name = document.getElementById('name').value;
        var email = document.getElementById('email').value;
        var message = document.getElementById('message').value;

        $.post("/Telegram/SendMessages", { number: name, username: email, message: message })
        .done(function(data){

                document.getElementById('name').value = '';
                document.getElementById('email').value = '';
                document.getElementById('message').value = '';
        })
       
    });




</script>